<ion-header class="ion-no-border">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-circle" text="" defaultHref="/estacionamientos"> </ion-back-button>
      <!--permite regresar-->
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <h1>Estacionamiento del centro</h1>

<div class="direccionE">
  <h2>Calle: Fco. I. Madero </h2>
</div>

<br> <br>

  <div class="imgEsta">
    <img src="./assets/estacionamiento.jpg" alt="">
  </div>

<div class="lugares">
  <h3>Lugares disponibles: </h3>
</div>  

<div class="reservar">
  <ion-button>
    Reservar lugar
  </ion-button>
</div>

</ion-content>
