<ion-header class="ion-no-border">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="profile()" icon="arrow-back-circle" text="" defaultHref="/"> </ion-back-button>
      <!--permite regresar-->
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <!--<div class="form">
    
      <div class="hero-sec">
          
      </div>
 
  </div>-->

  <ion-icon class="iconInicio" name="location"></ion-icon>

  <div class="esta1">
    <ion-button (click)="esta1()" fill="solid">
      <ion-icon class="text-custom-botones" slot="start" name="car"></ion-icon>
      Estacionamiento del centro
    </ion-button>
  </div>

  <div class="esta2">
    <ion-button fill="solid">
      <ion-icon class="text-custom-botones" slot="start" name="car"></ion-icon>
      Estacionamiento 8 esquinas
    </ion-button>
  </div>

  <div class="esta3">
    <ion-button fill="solid">
      <ion-icon class="text-custom-botones" slot="start" name="car"></ion-icon>
      Estacionamiento c. bancos
    </ion-button>
  </div>

  <div class="esta4">
    <ion-button fill="solid">
      <ion-icon class="text-custom-botones" slot="start" name="car"></ion-icon>
      Estacionamiento Perros Bravos
    </ion-button>
  </div>


</ion-content>