<ion-content>
  <ion-header>
    <ion-title></ion-title>
  </ion-header>

  <body>
    <br>
    <ion-buttons>
      <ion-button (click)="loginGet()">
        <ion-icon slot="icon-only" name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <br> <br>
    <br>
    <br>

    <h2>¿Olvidaste tu Contraseña?</h2>
    <br>
    <p>Ingresa tu correo que usas para iniciar sesion</p>
    <br>
    <br>
    <br>

    <ion-list>
      <ion-item>
        <ion-icon class="iconRegister" name="mail" slot="start"></ion-icon>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" placeholder=""></ion-input>
      </ion-item>
    </ion-list>
    <br>
    <br>
    <br>

    <div class="divButton">
      <button>Recuperar</button>
    </div>
    <br>

    <div class="divLogIn">
      <ion-buttons>
        <ion-button (click)="loginGet()">Iniciar Sesion</ion-button>
      </ion-buttons>
    </div>
    <br> <br> <br> <br> <br>
    <br> <br> <br> <br>
    <br> <br> <br> <br>

    <div class="divButtonH">
      <ion-buttons>
        <ion-button (click)="homeGet()">
          <ion-icon slot="icon-only" name="car"></ion-icon>
        </ion-button>
      </ion-buttons>

    </div>
  </body>
</ion-content>