<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="loginGet()" icon="arrow-back-circle" text="" defaultHref="/"> </ion-back-button>
      <!--permite regresar-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>¿Olvidaste tu Contraseña?</h2>
  <br>
  <p>Ingresa tu correo que usas para iniciar sesion</p>
  <br>
  <br>
  <br>

  <ion-list>
    <ion-item>
      <ion-icon class="iconRegister" name="mail" slot="start"></ion-icon>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" ></ion-input>     <!--llama a esa variable lo que tenga input-->
    </ion-item>
  </ion-list>

 
  <br>
  <br>
  <br>

  <div class="divButton">
    <ion-button class="bRecuperar" >Recuperar</ion-button>
  </div>
  <br>

  <div class="divLogIn">
    <ion-buttons class="buttonCenter">
      <ion-button (click)="loginGet()">Iniciar Sesion</ion-button>
    </ion-buttons>
  </div>

  <div class="divButtonH">
    <ion-buttons class="buttonCenter">
      <ion-button (click)="homeGet()">
        <ion-icon slot="icon-only" name="car"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

</ion-content>