*{
    margin: 0; 
    padding: 0;
}

ion-toolbar{
    --ion-toolbar-background: #2193f3;
}

ion-content{ 
    --ion-background-color:#2193f3; 
  
}

ion-back-button{
    color: white !important;
}

h2{
    color:white;
    text-align: center;
    font-size: 70px;
    font-family: Agency FB;
    letter-spacing: 5px;
}
h6{
    text-align: center;
    margin-top: 20px;
    font-family: Agency FB;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 40px;
    
}

ion-label{
    position: absolute;
    left: 20px;
    top: 15px;
    transition: 0.3s;
    font-size: 20px;
    
}
ion-item {
    --highlight-height: 2px;
    --highlight-color-focused: black;
    
}

ion-input{
    position: absolute;
    top: 35px;
    color: white;
}

.iconRegister{
    font-size: 40px;
    color: black;
    margin-top: 30px;
}

.iconNetwork{
    font-size: 60px;
    color: white;
    //margin-top: 30px;
}

.iconArriba{
    color: white;
}

.divFacebook{
    position: relative;
    bottom: 20px;
    left: 95px;
}

.divGmail{
    position: relative;
    bottom: 110px;;
    left: 200px;
}

.divPerson{
    position: relative;
    bottom: 45px;
    left: 330px;
}

.bRegister{
    --background: white; 
    --color: #2193f3;
    --padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 12px;
    width: 100%;
    letter-spacing: 5px;
}

.divButton{
    position: relative;
    top: 10px;
    
}

.divButtonH{
    text-align: center;
    top: 500px;
}

.buttonCenter{
    display: inline;
}

ion-icon{
    color: white;
}